.gform_wrapper {

	.top_label,
	.left_label,
	.right_label {
		input[type="file"] {
			width: 100%;
		}
	}

	.gform_fileupload_multifile .gform_drop_area {
		padding: $line-height-computed * 2;
		border: 3px dashed $gray-lighter;
		text-align: center;
		color: $gray;
		margin-bottom: $line-height-computed / 2;
	}

	.gform_drop_area .button {
		@extend .btn;
		@extend .btn-default;
	}

}

.right_label .gform_fileupload_multifile,
.left_label .gform_fileupload_multifile {
    margin-left: 31%;
}