.gform_wrapper {

	.gsection {
		border-bottom: 1px solid $gray-lighter;
		margin: $line-height-computed 0;
		clear: both;
	}

	.gsection_description {
		margin-bottom: $line-height-computed / 2;
	}

}