/*-------------------------------------------------*\
  $EDITOR STYLES
  Imports core bootstrap, custom wordpress classes
  and adjusts body params
\*-------------------------------------------------*/

@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/normalize";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/print";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/code";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/tables";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
@import 'base/wordpress';

html .mceContentBody {
  max-width: 800px;
  margin: 10px;
}

.mce-item-table {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
  th, td {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    margin: inherit;
  }
}
