.woocommerce, .woocommerce-page {

	/** Buttons **/
	a.btn {
		position:relative;
	}
	.btn.loading:before {
		content:"";
		position:absolute;
		top:0;
		right:0;
		left:0;
		bottom:0;
		background:url(woocommerce/images/ajax-loader.gif) center no-repeat rgba(255,255,255,0.65)
	}
	.btn.added {
		color: #ffffff;
		background-color: #5cb85c;
		border-top-color: #4cae4c;
		border-right-color-value: #4cae4c;
		border-bottom-color: #4cae4c;
		border-left-color-value: #4cae4c;
		-webkit-transition: background-color 250ms linear;
		-moz-transition: background-color 250ms linear;
		-o-transition: background-color 250ms linear;
		-ms-transition: background-color 250ms linear;
		transition: background-color 500ms linear;
	}
	a.added_to_cart {
		padding-top:.5em;
		white-space:nowrap;
		display:inline-block;
	}
}