.woocommerce, .woocommerce-page {

	/** Shipping Methods **/
	ul#shipping_method {
		list-style: none outside;
		margin:0;
		padding:0;

		li {
			margin:0;
			padding:.25em 0 .25em 22px;
			text-indent: -22px;
			list-style: none outside
		}
		.amount {
			font-weight:bold
		}
	}

}