@font-face {
	font-family:'star';
	src:url('#{$woocommerce-font-path}star.woff') format('woff'),
		url('#{$woocommerce-font-path}star.svg#star') format('svg');
	font-weight:normal;
	font-style:normal
}

.woocommerce-page {

	/** Reviews **/
	#reviews {
	
		h2 small {
			float: right;
			color: $gray;
			font-size: $font-size-base;
			line-height: $line-height-base;
			margin: 10px 0 0 0;

			a {
				text-decoration:none;
				color: $gray;
			}

		}

	}

	#respond {
		margin: 0;
		border: 0;
		padding: 0
	}

	#comment {
		height: 75px
	}
	#comments {
		.add_review:after {
			@include clearfix();
		}
		h2 {
			clear: none;
		}
	}
	.commentlist {
		margin: 0;
		padding-left: 0;
		width: 100%;
		background: 0;
		list-style: none;
	
		&:after {
			@include clearfix();
		}	

		li {
			padding: 0;
			margin: 0 0 $line-height-computed;
			position: relative;
			background: 0;
			border: 0;

			.meta {
				color: $gray-light;
				font-size: $font-size-small;
			}
			img.avatar {
				position: absolute;
				top: 0;
				left: 0;
				padding: 3px;
				width: 40px;
				height: auto;
				background: #fff;
				border: 1px solid $gray-lighter;
				margin: 0;
				line-height: 1;
				border-radius: $border-radius-base;
			}
			.comment-text {
				margin:0 0 0 50px;
				border:1px solid $gray-lighter;
				border-radius: $border-radius-base;
				padding: ($line-height-computed / 2) ($line-height-computed / 2) 0;

				p {
					&.meta {
						font-size: $font-size-small;
					}
				}
			}
		}
	}

	.commentlist > li:before {
		content: ""
	}

	.star-rating {
		float: right;
		overflow: hidden;
		position: relative;
		height: $font-size-base;
		line-height: $font-size-base;
		font-size: $font-size-base;
		width: 5.3em;
		font-family: 'star';
		color: #FFD700;

		span {
			overflow: hidden;
			float: left;
			top: 0;
			left: 0;
			position: absolute;
			padding-top: 1.5em;
		}
		span:before {
			content: "\53\53\53\53\53";
			top: 0;
			left: 0;
			position: absolute;
		}
		&:before {
			content: "\73\73\73\73\73";
			color: $gray-light;
			float: left;
			top: 0;
			left: 0;
			position: absolute
		}
	}

	.woocommerce-product-rating .star-rating {
		float: none;
		margin-bottom: $line-height-computed / 2;
	}

	.products .star-rating {
		display: block;
		margin: 0 0 ($line-height-computed / 2);
		float: none;
	}
	
	.hreview-aggregate .star-rating {
		margin: ($line-height-computed / 2) 0 0 0;
	}

	ul.cart_list,
	ul.product_list_widget {

		li {
			.star-rating {
				float: none
			}
		}
	}

	/** Stars **/
	p.stars {
		height: $font-size-base;
		&:after {
			@include clearfix();
		}	
		span {
			width: 5.3em;
			height: $font-size-base;
			line-height: $font-size-base;
			font-size: $font-size-base;
			position: relative;
			float: left;
			font-family: 'star';
			&:before {
				position: absolute;
				top: 0;
				left: 0;
				content: "\73\73\73\73\73";
				color: $gray-light;
				width: 100%;
			}
			a {
				position: absolute;
				left: 0;
				top: 0;
				height: $font-size-base;
				font-size: 0;
				overflow: hidden;
				opacity: 0;
				&:before {
					position: absolute;
					top: 0;
					left: 0;
					font-size: $font-size-base;
					background: #fff;
					content: "\53\53\53\53\53";
					color: #FFD700;
					width: 100%;
				}
				&:hover,
				&:focus {
					opacity: 1;
					cursor: pointer;
				}
				&.active {
					opacity: 1;
					&:before {
						color: darken(#FFD700, 5%);
					}
				}
				&.star-1 {
					width: 20%;
					z-index: 10;
				}
				&.star-2 {
					width: 40%;
					z-index: 9;
				}
				&.star-3 {
					width: 60%;
					z-index: 8;
				}
				&.star-4 {
					width: 80%;
					z-index: 7;
				}
				&.star-5 {
					width: 100%;
					z-index: 6;
				}
			}
		}
	}

}