/*------------------------------------*\
  $WOOCOMMERCE BOOTSTRAP
  Extends woocommerce classes to use
  Bootstrap styles. Turn WooCommerce
  stylesheet off if using.
\*------------------------------------*/

/* General */

table {
  @extend .table;
  @extend .table-striped;
}

/* Buttons */

.button {
  @extend .btn;
  @extend .btn-primary;
}

input.minus,
input.plus,
.lost_password a {
  @extend .btn;
  @extend .btn-default;
}

input.qty {
  -moz-appearance: textfield;
  &::-webkit-inner-spin-button, 
  &::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
}

.place-order .button {
  @extend .btn-block;
  @extend .btn-lg;
}

/* Shop */

.product > .panel {
  position: relative;
  a:hover {
    text-decoration: none;
  }
}

.onsale {
  @extend .label;
  @extend .label-danger;
}

.single-product {
  .onsale {
    position: absolute;
    top: $padding-base-vertical;
    left: ( $grid-gutter-width / 2 ) + $padding-base-vertical;
  }
  .images {
    margin-bottom: $line-height-computed;
  }
  .thumbnails img {
    @extend .img-rounded;
    width: 30%;
    margin-left: 5%;
    margin-bottom: $line-height-computed / 2;
  }
}

.product > .panel .onsale {
  position: absolute;
  top: $panel-body-padding + $padding-base-vertical;
  left: $panel-body-padding + $padding-base-vertical;
}

.price {
  display: block;
  margin-bottom: $line-height-computed / 2;
  color: $text-color;
  del {
    color: $text-muted;
  }
  ins {
    text-decoration: none;
  }
}

.demo_store {
  @extend .alert;
  @extend .alert-warning;
  @extend .navbar-fixed-bottom;
  margin-bottom: 0;
  border-radius: 0;
  text-align: center;
}

.attachment-shop_catalog {
  @extend .img-rounded;
  width: 100%;
}

.attachment-shop_single {
  @extend .img-rounded;
  width: 100%;
  margin-bottom: $line-height-computed / 2;
}

.thumbnails a:first-child img {
  margin-left: 0;
}

.woocommerce-ordering {
  @extend .form-group;
  text-align: right;
  @media (min-width: $screen-sm-min) {
    select {
      width: auto;
      display: inline-block;
    }
  }
}

.woocommerce-result-count {
  margin-bottom: $line-height-computed / 2;
  line-height: $input-height-base;
  @media (min-width: $screen-sm-min) {
    float: left;
    width: 50%;
  }
}

form.cart {
  @extend .form-group;
}

.woocommerce-tabs {
  > .tabs {
    @extend .nav;
    @extend .nav-tabs;
  }
  .panel {
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.shop_attributes {
  td p:last-child {
    margin-bottom: 0;
  }
}

.shop_table td {
  vertical-align: middle;
}

.product_meta {
  margin-bottom: $line-height-computed / 2;
}

/* Reviews */

.star-rating {
  display: inline-block;
  font-family: "fontawesome";
  position: relative;
  color: $text-color;
  margin-bottom: $line-height-computed / 2;
  &:before {
    content: "\f006\f006\f006\f006\f006";
  }
  span {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 1.5em;
    overflow: hidden;
    height: 0;
    &:before {
      content: "\f005\f005\f005\f005\f005";
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.commentlist {
  @extend .list-group;
  > li {
    @extend .list-group-item;
  }
  .photo {
    @extend .img-rounded;
  }
  .comment_container {
    @extend .media;
  }
  .comment-text {
    @extend .media-body;
  }
  .star-rating {
    @extend .pull-right;
  }
}

.comment-form {
  input[type="submit"] {
    @extend .btn;
    @extend .btn-primary;
  }
  > p {
    @extend .form-group;
  }
  textarea,
  select,
  input:not([type="submit"]) {
    @extend .form-control;
  }
  .stars {
    > span {
      @extend .btn-group;
    }
    a {
      @extend .btn;
      @extend .btn-default;
      &:after {
        content: "\f005";
        padding-left: 3px;
        font-family: "fontawesome";
      }
      &.star-1:after { content: "\f005"; }
      &.star-2:after { content: "\f005\f005"; }
      &.star-3:after { content: "\f005\f005\f005"; }
      &.star-4:after { content: "\f005\f005\f005\f005"; }
      &.star-5:after { content: "\f005\f005\f005\f005\f005"; }
    }
  }
}


/* Cart */

table.cart {
  .coupon {
    @media (min-width: $screen-sm-min) {
      float: left;
      width: 50%;
    }
  }
  .remove {
    @extend .btn;
    @extend .btn-xs;
    @extend .btn-danger;
  }
  .actions {
    text-align: right;
    .button {
      margin-bottom: $line-height-computed / 2;
      @media (max-width: $screen-xs-max) {
        width: 100%;
      }
    }
  }
  .product-thumbnail img {
    @extend .img-rounded;
    width: 36px;
    height: auto;
  }
  .quantity {
    margin: 0;
  }
  .cart_item td {
    vertical-align: middle;
  }
}

input[name="update_cart"] {
  @extend .btn-default;
}

.coupon {
  @extend .form-inline;
  text-align: left;
  .button {
    @extend .btn-default;
    margin-bottom: $line-height-computed / 2;
    @media (max-width: $screen-xs-max) {
      width: 100%;
    }
  }
  .input-text {
    margin-bottom: $line-height-computed / 2;
  }
  label {
    display: none;
  }
}

.cart-collaterals {
  @extend .row;
}

.cart_totals {
  @extend .col-sm-6;
  @extend .col-sm-offset-6;
}

.shipping_calculator {
  @extend .col-sm-6;
  @extend .col-sm-offset-6;
  h2 {
    margin-top: 0;
  }
}


/* Messages */

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  @extend .alert;
  list-style: none;
  > .button,
  > li > .button {
    @extend .pull-right;
    @extend .btn-xs;
    margin-top: $line-height-computed - 25px;
  }
}

.woocommerce-message {
  @extend .alert-warning;
}

.woocommerce-info {
  @extend .alert-info;
}

.woocommerce-error {
  @extend .alert-danger;
}

/* Forms */

%checkbox-label {
  display: block;
  margin: 0;
  margin-left: 14px + $padding-small-horizontal;
  padding-left: 0;
}

%checkbox-input {
  position: absolute;
  left: 0;
  top: 0;
}

.form-row {
  @extend .form-group;
  position: relative;
  > strong {
    // Fixed value field
    display: block;
    margin: $padding-base-vertical 0;
    font-weight: inherit;
  }
  .checkbox {
    @extend %checkbox-label;
  }
  .input-checkbox {
    @extend %checkbox-input;
  }
  &.terms {
    margin: ($grid-gutter-width / 2) 0;
  }
  abbr {
    border: 0;
    cursor: default;
  }
  &.place-order,
  &.notes,
  &.terms {
    @extend .form-row-wide;
  }
  .inline {
    margin: 0 $padding-small-horizontal;
    display: inline-block;
    line-height: $input-height-base;
    vertical-align: middle;
  }
}

@media (min-width: $screen-sm-min) {
  .form-row {
    width: 49%;
  }
  .form-row-wide {
    width: auto;
  }
  .form-row-first {
    float: left;
  }
  .form-row-last {
    float: right;
  }
}

.clear {
  @include clearfix;
}

.input-text {
  @extend .form-control;
}

.woocommerce select {
  @extend .form-control;
}

.required {
  color: $brand-danger;
}

.quantity.buttons_added {
  @extend .input-group;
  @extend .form-group;
  max-width: 130px;
}

tr.shipping ul {
  @extend .list-unstyled;
  margin-bottom: 0;
}

#ship-to-different-address {
  position: relative;
  .checkbox {
    @extend %checkbox-label;
    font-weight: $headings-font-weight;
  }
  .input-checkbox {
    @extend %checkbox-input;
    top: 3px;
  }
}

/* Layout */

.col2-set {
  @extend .row;
  .col-1,
  .col-2 {
    @extend .col-sm-6;
  }
}

/* Checkout */

.payment_methods {
  @extend .list-group;
  > li {
    @extend .list-group-item;
    position: relative;
    > label {
      @extend %checkbox-label;
      min-height: $line-height-computed;
      line-height: $line-height-computed;
      img {
        float: right;
      }
    }
  }
  .input-radio {
    @extend %checkbox-input;
    left: 15px; // List group padding
    top: 10px;
  }
  .payment_box {
    clear: both;
    p {
      margin-top: $line-height-computed / 2;
    }
  }
}

.order_details {
  @extend .list-group;
  > li {
    @extend .list-group-item;
  }
}

.customer_details {
  @extend .dl-horizontal;
}

/* Account */

form.login .form-row:not(.form-row-wide) {
  width: 100%;
}

.myaccount_user {
  @extend .alert;
  @extend .alert-warning;
}

.my-account {
  .edit {
    @extend .btn;
    @extend .btn-default;
    @extend .btn-xs;
  }
}

.my-account .order-info {
  @extend .alert;
  @extend .alert-warning;
}

/* TODO: Widgets */
