/*------------------------------------*\
  $WORDPRESS GENERATED CLASSES
  Basic rules for styling WordPress
  classes.
\*------------------------------------*/

.alignnone {

}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.alignleft {
  float: left;
  margin: 0 ($line-height-computed / 2) ($line-height-computed / 2) 0;
}

.alignright {
  float: right;
  margin: 0 0 ($line-height-computed / 2) ($line-height-computed / 2);
}

figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.gallery .caption {
  margin: -($line-height-computed / 2) 5px $line-height-computed;
}

img {
  max-width: 100%;
  height: auto;
}

video,
iframe {
  max-width: 100%;
}
