/*------------------------------------*\
  $WORDPRESS POST CLASSES
  Basic rules for styling WordPress
  post content classes with Bootstrap.
\*------------------------------------*/

/* Alignment */

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.alignleft {
  float: left;
  margin-right: $line-height-computed;
}

.alignright {
  float: right;
  margin-left: $line-height-computed;
}

/* Images and captions */

img {
  @include img-responsive('inline-block');
}

img[class*="wp-image-"] {
  margin-bottom: $line-height-computed / 2;
}

.wp-caption {
  max-width: 100%;
  img {
    margin-top: 0;
    margin-bottom: 0;
  }
  &.alignnone,
  &.aligncenter {
    clear: both;
    @include clearfix();
  }
}

video {
  max-width: 100%;
}

/* Indent nested comments */

.comment .comment {
  margin-left: 15px;
}

/* Break-word in titles */

.entry-title {
  word-wrap: break-word;
}